body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
    text-align: center;
}

h2, h3 {
    color: black;
}

table {
    width: 83%;
    margin: 20px auto;
    background-color: lightblue;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: blue;
    color: white;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: navy;
}

p {
    font-size: 16px;
    color: black;
    margin: 5px 0;
}
